.nucampHeader{ 
    background-image: linear-gradient(to right, blue, purple);
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-family: 'kalam';
    text-shadow: 2px 2px 2px black;
}
.subtitle{
    color: rgb(199, 194, 194);
}

.aboutUs-title{
    font-family: 'kalam';
    color: blue;
}

.mission-title{
    font-family: 'kalam';
    padding-top: 10%
}

.community-title{
    font-family: 'kalam';
    padding-bottom: 1%;
    padding-top: 15%
}

.nucampFooter{
    background-image: linear-gradient(to bottom, rgb(136, 136, 233), white);
    padding-top: 2%;
    padding-bottom: 2%;
    color: black; 

}